@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.in
{
    /* border: 2px solid #474e5a8f; */
    padding: 10px;
    text-align: center;
}

h1
{
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
}

p.text_generator_fim, #char, p
{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

